<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
  <mat-expansion-panel-header class="right-aligned-header">
    <mat-panel-title>
      <h3 style='color:darkred'>naytax!</h3>
      <!-- <div *ngIf="currentUser">
        <div>{{currentUser.username}}</div>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
      <div *ngIf="currentUser == null">
        Not logged in yet
      </div> -->
    </mat-panel-title>
    <mat-panel-description>
        <div *ngIf="currentUser">
          {{currentUser.username}}님 안녕하세요
        </div>
        <div *ngIf="currentUser == null">
          로그인이 필요합니다
        </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <login-cmp (setStepInApp)="setStep($event)"></login-cmp>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
  <mat-expansion-panel-header class="right-aligned-header">
    <mat-panel-title>
      예상 총 급여
    </mat-panel-title>
    <mat-panel-description>
        <div *ngIf="currentUser">
          <div>xxx 만원</div>
        </div>
        <div *ngIf="currentUser == null">
          미입력
        </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <salary-cmp *ngIf="currentUser" (setStepInApp)="setStep($event)"></salary-cmp>
</mat-expansion-panel>
<router-outlet></router-outlet>
<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
  <mat-expansion-panel-header class="right-aligned-header">
    <mat-panel-title>
      소득공제 항목 합계
    </mat-panel-title>
    <mat-panel-description>
        <div *ngIf="currentSummary">
          <div>xxx 만원 </div>
        </div>
        <div *ngIf="currentSummary == null">
          미입력
        </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <summary-cmp *ngIf="currentSummary" (setStepInApp)="setStep($event)"></summary-cmp>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
  <mat-expansion-panel-header class="right-aligned-header">
    <mat-panel-title>
      소득공제 전략
    </mat-panel-title>
    <mat-panel-description>
        <div *ngIf="currentSummary">
          <div>결과를 확인해보세요</div>
        </div>
        <div *ngIf="currentSummary == null">
          미산출
        </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <detail-cmp *ngIf="currentSummary && currentSummary.std_assessment"></detail-cmp>
</mat-expansion-panel>
<router-outlet></router-outlet>
