<h5><img src="https://cdn0.iconfinder.com/data/icons/finance-glyph-2/33/tax_cut-512.png" width="30" height="30">필요한 최소이용 금액</h5>

<div fxLayout="row" fxLayoutGap="0px" style="width: 100%">
  <div [fxFlex]="progressBar[0]" class="div1"></div>
  <div [fxFlex]="progressBar[1]" class="div2"></div>
  <div [fxFlex]="progressBar[2]" class="div3"></div>
  <div [fxFlex]="progressBar[3]" class="div4"></div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="start center">▲
    </div>
  </div>
<p>{{currentSummary.hurdle_info_msg}}</p>

<h5><img src="https://cdn.dribbble.com/users/282075/screenshots/4756098/icon_reward.gif" width="40" height="30"><b>기대혜택 (원/만원)</b></h5>
<mat-table [dataSource]="benefitSource" class="mat-elevation-z8">
  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> 구분 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> <span style='color:brown'><b>최종혜택</b></span> </mat-footer-cell>
  </ng-container>

  <!-- Credit card Column -->
  <ng-container matColumnDef="credit">
    <mat-header-cell *matHeaderCellDef> 신용 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.credit}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{currentSummary.crd_benefit_sum}} </mat-footer-cell>
  </ng-container>

  <!-- Debit card Column -->
  <ng-container matColumnDef="debit">
    <mat-header-cell *matHeaderCellDef> 체크 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.debit}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{currentSummary.deb_cash_tax_benefit}} </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="benefitPer10kColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: benefitPer10kColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="benefitPer10kColumns"></mat-footer-row>
</mat-table>
<div>
  <div>{{currentSummary.crd_etc_strategy}}</div>
</div>

<h5><img src="https://cdn0.iconfinder.com/data/icons/cash-card-add-on-colored/48/JD-11-512.png" width="40" height="40">받은 혜택 (최근 5건)
<div (click)="refresh()" style='float:right'><img src="https://www.materialui.co/materialIcons/navigation/refresh_black_192x192.png" height="20" width="20"></div></h5>
<mat-table [dataSource]="transactionSource" class="mat-elevation-z8">
  <ng-container matColumnDef="apv_d">
    <mat-header-cell *matHeaderCellDef> 날짜 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.apv_d}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="crd_tcd">
    <mat-header-cell *matHeaderCellDef> 구분 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.crd_tcd}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="apv_amt">
    <mat-header-cell *matHeaderCellDef> 금액 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.apv_amt | number:0}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mct_nm">
    <mat-header-cell *matHeaderCellDef> 가맹점 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mct_nm}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="benefit">
    <mat-header-cell *matHeaderCellDef> 혜택 </mat-header-cell>
    <mat-cell *matCellDef="let element"> <div><div>{{element.benefit | number:0}}</div><div style="font-size:12px;font-weight: bold;">({{(element.benefit / element.apv_amt * 100) | number:'0.0-1'}} %)</div></div></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="cardTransactionColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: cardTransactionColumns;" [ngClass]="{'highlight': row.new_trans_TF == 1}"></mat-row>
</mat-table>